<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-sm-8">
            <h4>
              {{post.title}}
                <br>
                <small>
                    Posted:
                    <time>{{moment-calendar post.date}}</time>
                    {{#if shouldDisplayLastEdited data-test-display-last-edited=shouldDisplayLastEdited}}
                      <br>
                      Last edited:
                      <time data-test-last-edited={{post.lastEditedDate}}>
                        {{moment-calendar post.lastEditedDate }}
                      </time>
                    {{/if}}
                </small>
            </h4>
        </div>
        <div class="col-xs-4 col-sm-4 text-right">
          {{#if (and session.isAuthenticated (not isPreview)) }}
            {{#link-to "post.edit" post class="btn btn-primary"}}
                <i class="glyphicon glyphicon-pencil"></i>
            {{/link-to}}
              <button {{action "askConfirm"}} class="btn btn-primary">
                  <i class="glyphicon glyphicon-trash"></i>
              </button>
          {{/if}}
        </div>

    </div>
</div>
{{#if openModal}}
  {{#bs-modal open=openModal onSubmit=(action "yesDelete")
              onHide=(action "noDelete") as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Confirm delete</h4>
    {{/modal.header}}
    {{#modal.body}}
      Are you sure you want to delete &ldquo;{{post.title}}&rdquo;?
    {{/modal.body}}
    {{modal.footer closeTitle="No" submitTitle="Yes"}}
  {{/bs-modal}}
{{/if}}
{{yield}}
