<div class="container">
    <header>
      {{#bs-navbar id="main-navbar" as |navbar|}}
          <div class="navbar-header">
            {{#navbar.toggle}}
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            {{/navbar.toggle}}
              <a href="/" class="navbar-brand logo">
                0 Bit
              </a>
          </div>
          <nav>
            {{#navbar.content}}
              {{#navbar.nav as |nav|}}
                {{#nav.item}}{{#link-to "posts"}}Blog{{/link-to}}{{/nav.item}}
                {{#each staticpages as |page|}}
                  {{#nav.item}}
                    {{#link-to "index" (query-params page=page.url)}}
                      {{page.title}}
                    {{/link-to}}
                  {{/nav.item}}
                {{/each}}
                {{#if session.isAuthenticated}}
                  {{#bs-dropdown tagName="li" as |dd|}}
                    {{#dd.toggle}}
                      {{#nav.item}}Manage <span class="caret"></span>{{/nav.item}}
                    {{/dd.toggle}}
                    {{#dd.menu}}
                        <li>{{#link-to "post.new"}}New post{{/link-to}}</li>
                        <li>{{#link-to "unpublished-posts"}}Unpublished posts{{/link-to}}</li>
                        <li>{{#link-to "staticpage-new"}}New static page{{/link-to}}</li>
                        <li>{{#link-to "staticpage-order"}}Reorder static pages{{/link-to}}</li>
                        <li><a {{action 'invalidateSession'}}>Logout</a></li>
                    {{/dd.menu}}
                  {{/bs-dropdown}}
                {{else}}
                  {{#nav.item}}{{#link-to 'login'}}Login{{/link-to}}{{/nav.item}}
                {{/if}}
              {{/navbar.nav}}
            {{/navbar.content}}
          </nav>
      {{/bs-navbar}}
    </header>
    <main>
      {{outlet}}
    </main>
</div>
<footer class="footer container">
  {{site-footer}}
</footer>
