<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Drag to reorder
        </h4>
    </div>
    <div class="panel-body">
        <div class="navbar navbar-default navbar-preview">
          {{#ui-sortable class="nav navbar-nav" content=staticpages as |staticpage|}}
              <li>
                  <a class="no-decoration">
                    {{staticpage.title}} <span class="pull-right menu-drag-icon"><i
                          class="glyphicon glyphicon-move"></i></span>
                  </a>
              </li>
          {{/ui-sortable}}
        </div>
      {{#if (or errmsg successmsg)}}
          <div class="status-msg">
            {{#if errmsg}}
                <span><i class="glyphicon glyphicon-alert"></i> {{errmsg}}</span>
            {{/if}}
            {{#if successmsg}}
                <span><i class="glyphicon glyphicon-ok-sign"></i> {{successmsg}}</span>
            {{/if}}
          </div>
      {{/if}}
      {{bs-button defaultText="Submit" type="default" action="submitNewOrder"}}
    </div>
</div>
{{outlet}}
