<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div>{{errmsg}}</div>
            <div>{{successmsg}}</div>
        </div>
        <div class="navbar navbar-default">
          {{#ui-sortable class="nav navbar-nav" content=staticpages as |staticpage|}}
              <li><a class="no-decoration">{{staticpage.title}}</a></li>
          {{/ui-sortable}}
        </div>
        <button {{action "submitNewOrder"}}>Submit new ordering</button>
    </div>
</div>
{{outlet}}
